*{
    box-sizing: border-box;
    text-align: justify;
}

header, nav, section{
    margin-bottom: 10px;
} 

body{
    background-color: #387894;
}

main{
    width: 80%;
    margin: auto auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

header{
    background-color: #84BAD1;
    border: 5px solid #5896B1;
    border-radius: 10px;
}

header h1, header h2{
    text-align: center;
}

article{
    background-color: rgb(236, 240, 241);
}

footer{
    background-color: #84BAD1;
    border: 5px solid #5896B1;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}