nav{
    background-color: rgb(56, 120, 148);
    border-radius: 10px;
    margin: auto auto;
    
    width: 90%;
}

nav ul{
    display: flex;
    gap: 5px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin: 5px;
    padding: 5px;
}

li{
    padding: 10px;
    transition: background-color 0.2s ease;
    border-radius: 10px;
}

li a{
    color: white;
    text-decoration: none;
}

a:hover:not(.active) {
    border-radius: 5px;
}
    
.active {
    color: white;
    border-radius: 5px;
    text-decoration: underline white;
} 

nav a:hover{
    background-color: white;
    color: black;
    padding: 5px;
}