/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

main{
    display: flex;
    flex-direction: column;

}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

article{
    border: 3px solid #5896B1;
    border-radius: 5px;
    flex: 1 0;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    
}

article img{
    width: 60%;
    border: 3px solid #84BAD1;
    border-radius: 5px;
}

article h4{
    text-align: center;
    color: rgb(56, 120, 148);
    font-size: 20pt;
}

