/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

main{
    display: flex;
    flex-direction: column;

}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


